pandas~=2.2.2
enums~=0.0.2
ujson~=5.10.0
numpy~=2.0.1
inflection~=0.5.1
beautifulsoup4~=4.12.3
requests~=2.32.3
python-dateutil~=2.9.0.post0
jsonlines~=4.0.0
urllib3~=2.2.2
pymongo~=4.8.0
filesplit~=4.1.0
python-dotenv~=1.0.1
pytest~=8.2.2
data_retriever~=1.10
openpyxl